form {
    color: #1A1A2E;;
    font-family: Andale Mono, monospace;    
    margin: 2% auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
   }


   form .button {
    margin: 10% auto;
   }
   
   section h3 {
    text-align: center;
    color: #1A1A2E;;
   }
   
   section p {
    word-wrap: break-word;
    color: #1A1A2E;;
   }
   
   .close-button {
    cursor: pointer;
    text-align: end;
   }
   
   